ACTION=="add", SUBSYSTEM=="input", KERNEL=="mouse[0-9]*", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/kayd/.Xauthority", RUN+="/home/kayd/dotfiles/touchpad-toggle.sh disable"
ACTION=="remove", SUBSYSTEM=="input", KERNEL=="mouse[0-9]*", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/kayd/.Xauthority", RUN+="/home/kayd/dotfiles/touchpad-toggle.sh enable"
