ACTION=="add", SUBSYSTEM=="input", KERNEL=="mouse[0-9]*", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/__USERNAME__/.Xauthority", RUN+="/usr/local/bin/touchpad-toggle disable"
ACTION=="remove", SUBSYSTEM=="input", KERNEL=="mouse[0-9]*", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/__USERNAME__/.Xauthority", RUN+="/usr/local/bin/touchpad-toggle enable"
