[Unit]
Description=IBus Daemon

[Service]
ExecStart=/usr/bin/ibus-daemon -drx
Environment=GTK_IM_MODULE=ibus
Environment=XMODIFIERS=@im=ibus
Environment=QT_IM_MODULE=ibus
Type=forking
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target

